body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f8f7;
  color: #333;
}

header {
  background-color: #0f5751;
  color: white;
  text-align: center;
  padding: 15px;
}

.logo img {
  width: 200px;
}

.Info {
  padding: 25px;
}


.contacts a {
  text-decoration: none;
  color: #00393d;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-form-container h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.contactForm {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.WhatsApp-modal{
  box-shadow: 0 4px 8px rgba(94, 94, 94, 0.466);
  padding: 55px;
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-color: #fff;
}
.contact-inputs {
  width: 100%;
  max-width: 400px;
  height: 50px;
  box-shadow: 0 4px 8px rgba(94, 94, 94, 0.466);
  border: none;
  outline: none;
  padding: 15px;
  font-weight: 500;
  color: #666;
  border-radius: 7px;
}

.contactForm textarea {
  width: 100%;
  max-width: 400px;
  height: 150px;
  padding: 15px;
  border-radius: 5px;
}

.submitForm {
  padding: 10px 20px;
  background-color: #0f7557;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(94, 94, 94, 0.466);
  margin-top: 10px;
}

.submitForm:hover {
  background-color: #0b8070;
}

.whatsapp-button {
  text-decoration: none;
}

.whatsapp-logo {
  width: 55px;
  height: auto;
  padding: 25px 0;
  margin: 35px 0;
}

@media (max-width: 768px) {
  .contact-inputs,
  .contactForm textarea {
    width: 90%;
  }
}

@media (max-width: 235px) {
  .logo img {
    width: 50px;
  }
}

/* General Footer Styling */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #f8f8f8;
  text-align: center;
}

.footer-container > div {
  margin: 15px 0;
}

/*Socials toolkit*/
ul {
  list-style: none;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials .icon-content {
  margin: 0 10px;
  position: relative;
}
.socials .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.socials .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.socials .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.socials .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.socials .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.socials .icon-content a:hover {
  color: white;
}
.socials .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.socials .icon-content a:hover .filled {
  height: 100%;
}

.socialssocials .icon-content a[data-social="linkedin"] .filled,
.socials .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.socials .icon-content a[data-social="github"] .filled,
.socials .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.socials .icon-content a[data-social="instagram"] .filled,
.socials .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.socials .icon-content a[data-social="youtube"] .filled,
.socials .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
/* Existing styles */
.socials .icon-content a[data-social="tiktok"] .filled,
.socials .icon-content a[data-social="tiktok"] ~ .tooltip {
  background-color: #000;
}

.socials .icon-content a[data-social="tiktok"] .filled {
  background: linear-gradient(45deg, #000000, #000000);
}

.socials .icon-content a[data-social="tiktok"] .tooltip {
  background: #000; /* Tooltip background for TikTok */
}

/* Logo Video */
.logo-video .footer-video {
  width: 25rem;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contact Information and Business Hours */
.contact-info,
.business-hours {
  max-width: 300px;
}

.footer-item logo-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-and-bhrs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 45px;
}

@media (max-width: 768px) {
  .contact-and-bhrs {
    flex-direction: column;
  }
}

.footer-container h4 {
  color: #004d40;
  margin-bottom: 10px;
}

/* Links Styling */
.footer-container a {
  color: #0f5751;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-container a:hover {
  color: #00796b;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
  color: #000000;
}
