
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #0f5751;
    color: white;
    text-align: center;
    padding: 15px;
}

/* search btn deign */
.container {
    width: 100%; 
    text-align: right; 
    padding: 20px; 
}

.search-container {
    display: inline-block; 
}

input[type="text"] {
    padding: 8px;
    width: 200px; 
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

button[type="submit"] {
    padding: 8px 12px;
    background-color: #2b7a78;
    color: #fff;
    border: 1px solid #2b7a78;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

main {
    flex: 1; 
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

header {
    background-color: #0a6965;
    color: white;
    text-align: center;
    padding: 15px;
}

.copyrighter{
    text-align: center; 
    background-color: #fff;  
    padding: 20px; 
    }